body {
    font-family: Arial, sans-serif;
    background-color: #e7ccf1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#movies-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
}

.movie-card {
    background-color: rgb(181, 113, 221);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 5px;
    width: 300px;
    text-align: center;
}

.title-movie {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.movie-image {
    width: 100%;
    height: 400px;
    margin-top: 10px;
}

h2 {
    margin-top: 0;
    color: rgb(0, 0, 0);
}
